<!--@@@@@@@@@@@@@@@@@@@@@ django-bootstrap3 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@
ATTENTION! On this page we use "django-bootstrap3" styling library that 
# you have to insatall first as shown below. Also register it seetings.py
# > (ll_env) pip install django-bootstrap3
# We need django-bootstrap3 to include jQuery, a JavaScript library that
# enables some of the interactive elements that the Bootstrap template provides.
# This code spares us from having to download jQuery and place it in the
# correct location manually.
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<!-- Most of the changes here are similar to those applied in login.html:
we load bootstrap3 and add the header block with an appropriate message
Then we add the class="form" attribute to the <form> tag, use the
[bootstrap_form]-template tag instead of [form.as_p] as it was before
(see old file). Then we use the bootstrap3 structure for the submit button-->
{% extends "learning_logs/base.html" %}
<!--=================-->
{% load bootstrap3 %}
{% block header %}
  <h2>Add a new topic:</h2>
{% endblock header %}
<!--=================-->
{% block content %}
  <form action="{% url 'learning_logs:new_topic' %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">add topic</button>
    {% endbuttons %}
  </form>
{% endblock content %}