<!-- The following code for the template for new_entry.html is similar 
     to the template for new_topic.html. Thus, read code notes there. 
-->
{% extends "learning_logs/base.html" %}
{% block content %}
  <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
  <p>Add a new entry:</p>
    <!-- Instead of [url 'learning_logs:new_entry'] as it was in a book
         and gives error = ['learning_logs' is not a registered namespace]
         we use [url 'new_entry']
    -->
  <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name='submit'>add entry</button>
  </form>
{% endblock content %}