<!--@@@@@@@@@@@@@@@@@@@@@ django-bootstrap3 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@
ATTENTION! On this page we use "django-bootstrap3" styling library that 
# you have to insatall first as shown below. Also register it seetings.py
# > (ll_env) pip install django-bootstrap3
# We need django-bootstrap3 to include jQuery, a JavaScript library that
# enables some of the interactive elements that the Bootstrap template 
# provides. This code spares us from having to download jQuery and place 
# it in the correct location manually.
The code below is unique cintent specific to index.html
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

<!-- Inherit from base.html-->
{% extends 'learning_logs/base.html' %}
<!--Place the topic in the bootstrap-header block-->
{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}
<!--===========================================================-->
<!--Show the topic that's currently being displayed, which is stored
in the template variable [topic]. The variable topic is available 
because it's included in the context dictionary. We then start 
a bulleted list to show each of the entries -->
{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
  </p>
  <ul>
  <!-- ================= LOOP ============================-->
  {% for entry in entries %}
  <!--We delete code for the unordered list structure that was
  previously here (see old file). Instead of making each entry 
  a list item, we create a [panel div]-tag taken from bootstrap,
  which also contains two more nested divs: a panel-heading [div]
  and a [panel-body] div -->
    <div class="panel panel-default">
      <!--The panel-heading div contains the date for the entry 
      and the link to edit the entry. Both are styled as h3-tags-->
      <div class="panel-heading">
        <h3>
          {{ entry.date_added|date:'M d, Y H:i' }}
          <!--we add [small]-tags around the edit_entry link to make 
          it a little smaller than the timestamp -->
          <small>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a>
          </small>
        </h3>
      </div>
      <!--The [panel-body div]-tag contains the actual text of the entry.
      Note that the Django code for including the information on the page
      hasn’t changed at all; only the elements that affect the appearance 
      of the page have changed.-->
      <div class="panel-body"> {{ entry.text|linebreaks }}</div>
    </div> <!-- panel -->
    {% empty %}
      There are no entries for this topic yet.
  {% endfor %}
  <!-- =============== END LOOP ==========================-->
{% endblock content %}

<!--                   NOTES 
Each point will list two pieces of information: the timestamp and the
full text of each entry. For the timestamp, we display the value of the
attribute date_added. In Django templates, a vertical line (|) represents a
template filter, i.e. a function that modifies the value in a template variable.
The filter date:'M d, Y H:i' displays timestamps in the format January 1,
2015 23:00. The next line displays the full value of text rather than just the
first 50 characters from entry. The filter linebreaks y ensures that long text
entries include line breaks in a format understood by browsers rather than
showing a block of uninterrupted text.
-->

